.vscode/**
.vscode-test/**
src/**
out/test/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
index.html
BRAND_GUIDELINES.md
assets
assets/**
resources/branding
resources/branding/**


